.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navBar {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ffffffd1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    justify-content: space-between;
  }
}
.logoContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.navItem__vloO5:global(.__wab_instance) {
  position: relative;
}
.icon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.navItems {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.navItem__sroDf:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__sroDf:global(.__wab_instance) {
    display: none;
  }
}
.svg___4XKqh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.navItem___0Eaom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem___0Eaom:global(.__wab_instance) {
    display: none;
  }
}
.text__prnO {
  height: auto;
}
.navItem___5Utk5:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem___5Utk5:global(.__wab_instance) {
    display: none;
  }
}
.svg__qqklc {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__qgjY:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__qgjY:global(.__wab_instance) {
    display: none;
  }
}
.svg__qGk8B {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__tH43F:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__tH43F:global(.__wab_instance) {
    display: none;
  }
}
.svg___2YcZe {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__xejHt:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__xejHt:global(.__wab_instance) {
    display: none;
  }
}
.svg__gpTbF {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__coxKu:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__coxKu:global(.__wab_instance) {
    display: none;
  }
}
.svg__aphD {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__xkum1:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__xkum1:global(.__wab_instance) {
    display: none;
  }
}
.svg__i8GW9 {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__ue5Mv:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__ue5Mv:global(.__wab_instance) {
    display: none;
  }
}
.svg__qwbqS {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__om63N:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__om63N:global(.__wab_instance) {
    display: none;
  }
}
.text__hncrp {
  padding-right: 0px;
}
.svg__iahVi {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__lOno3:global(.__wab_instance) {
  position: relative;
}
.icon10 {
  position: relative;
  object-fit: cover;
  height: 20px;
}
.navItem__h9CEl:global(.__wab_instance) {
  position: relative;
}
.icon11 {
  position: relative;
  object-fit: cover;
  height: 20px;
}
.navItem__eqlxm:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__eqlxm:global(.__wab_instance) {
    display: flex;
  }
}
.icon30 {
  position: relative;
  object-fit: cover;
  height: 20px;
}
.navItemDetails:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__vz3A0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.productDisplay__dfRqV:global(.__wab_instance) {
  position: relative;
  height: var(--token-ZHzfDOU4gAZZ);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__dfRqV:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.button__nyvKx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon12 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__mgqeg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon13 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay___5BkDz:global(.__wab_instance) {
  position: relative;
  height: var(--token-ZHzfDOU4gAZZ);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay___5BkDz:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.button__ca01T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__czsi0 {
  color: var(--token-vAujezlOQTTW);
}
.icon14 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__rue0P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__d7Y6W {
  color: var(--token-vAujezlOQTTW);
}
.icon15 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay___4Rmpy:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay___4Rmpy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__jlqTd {
  padding-top: 0px;
}
.button__ed9Qt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon16 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__m9PB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon17 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox___4KHu0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4KHu0 {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.productDisplay___3R7HQ:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay___3R7HQ:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__hMhE {
  padding-top: 0px;
}
.button__spKuA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon18 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__bvkTn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon19 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay___4Iwz5:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay___4Iwz5:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__qtnyw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 13px;
  min-width: 0;
  padding: 8px;
}
.freeBox__c1N3O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__c0Mz0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__h9ZvG {
  padding-bottom: 0px;
}
.text__pu7Br {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d80c0c;
  font-size: 20px;
  min-width: 0;
}
.text__gtkIu {
  padding-top: 0px;
}
.button__hrlEy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__kcZn {
  color: var(--token-vAujezlOQTTW);
}
.icon20 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__dlf12:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__rHw {
  color: var(--token-vAujezlOQTTW);
}
.icon21 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox___0DeXk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: auto;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0DeXk {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.productDisplay__s7PD2:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__s7PD2:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox___5U84O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg___43Rj8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__whIiV {
  padding-bottom: 0px;
}
.text__m6Ifa {
  padding-top: 0px;
}
.button__yK8LQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon22 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay__fcWP:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__fcWP:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__rdSIm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__tczHq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__ilD5O {
  padding-bottom: 0px;
}
.text__hW8Wv {
  padding-top: 0px;
}
.button___6FqQo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon24 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__aW41B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aW41B {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.productDisplay__abLH:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__abLH:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__qp7Cw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__ciPm1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__bk5Cx {
  padding-bottom: 0px;
}
.text___9ApGv {
  padding-top: 0px;
  padding-left: 0px;
}
.button__qRz7A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon26 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay__vyfit:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__vyfit:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox___7Vzk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__cvKrO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__sayLa {
  padding-bottom: 0px;
  padding-left: 0px;
}
.text__pFbvK {
  padding-top: 0px;
  padding-left: 0px;
}
.button__cIwsT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon28 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button___9PxGf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon29 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.cmsDataFetcher___17PvD:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sliderCarousel:global(.__wab_instance) {
  width: 1155px;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox___3Z5Ai {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tvPlusGalleryItem:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tvPlusGalleryItem:global(.__wab_instance) {
    height: 586px;
    flex-shrink: 0;
  }
}
.text__iq6E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mvAf5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aswvz8ZLaVPr);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px 35px;
}
.notes {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-iie6rtCbSLIS);
  min-width: 0;
  padding: 8px;
}
.text__evAQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  padding-bottom: 0px;
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.link__rDeCv {
  color: var(--token-Ei51IsHdpGPP);
  text-decoration-line: underline;
}
.text___1Hnnw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  padding-bottom: 0px;
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.link__ksYz {
  color: var(--token-Ei51IsHdpGPP);
  text-decoration-line: underline;
}
.text__n7NQe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.text__zdJfr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.link__vV2 {
  color: var(--token-Ei51IsHdpGPP);
  text-decoration-line: underline;
}
.text__qr0Yz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.text__fJkRv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.text__ug2G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.text__zaqa0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.text___1OfRn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.text__o0JE3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
}
.cmsDataFetcher__kiqcZ:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__x3AjN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
  margin: 16px 0px 0px;
  border-top: 1px solid var(--token-LNeDr1ZtROhc);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x3AjN {
    display: none;
  }
}
.freeBox__pqWzF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup___053LH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 8px;
}
.footerLinksGroup__bbI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___8DSps {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__baLeC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__wxe3X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__biv5H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup___7H9HF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__oFqEb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__bLZru:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__cSf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__msCdz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__l9Lm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___6EP0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__atf5D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__agrpi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__uSnwI {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uSnwI {
    display: flex;
  }
}
.footerLinksGroupMobile:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__zkbtn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zmr95 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 8px;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
  min-width: 0;
  border-bottom: 1px solid var(--token-LNeDr1ZtROhc);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zmr95 {
    border-bottom-width: 0px;
  }
}
.link__wxAu {
  text-decoration-line: underline;
}
.link___1Ku4M {
  text-decoration-line: underline;
}
.freeBox__zvNed {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zvNed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
.freeBox___0Xdix {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0Xdix {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
.text__c0Ryr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  margin-right: 16px;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
}
.text__nKuqC {
  font-size: var(--token-VZdOiOG-NxkM);
  color: var(--token-Ei51IsHdpGPP);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nKuqC {
    margin-top: 8px;
  }
}
.link__brGR {
  font-size: var(--token-VZdOiOG-NxkM);
  color: var(--token-Ei51IsHdpGPP);
}
.link__wms5N {
  font-size: var(--token-VZdOiOG-NxkM);
  color: var(--token-Ei51IsHdpGPP);
}
.link__kkvPt {
  font-size: var(--token-VZdOiOG-NxkM);
  color: var(--token-Ei51IsHdpGPP);
}
.link__fjC8 {
  font-size: var(--token-VZdOiOG-NxkM);
  color: var(--token-Ei51IsHdpGPP);
}
.link__kLxEf {
  font-size: var(--token-VZdOiOG-NxkM);
  color: var(--token-Ei51IsHdpGPP);
}
.text__rkitn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  color: var(--token-Ei51IsHdpGPP);
  font-size: var(--token-VZdOiOG-NxkM);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rkitn {
    display: none;
  }
}
