@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-ptBPpw7B1SQH: #0066cc;
  --plasmic-token-link: var(--token-ptBPpw7B1SQH);
  --token-RctXMDHXXN71: #e7e7e7;
  --plasmic-token-light-text: var(--token-RctXMDHXXN71);
  --token-ZHzfDOU4gAZZ: 700px;
  --plasmic-token-page-section-row-height: var(--token-ZHzfDOU4gAZZ);
  --token-_IpDhUa3gIj3: #ffffff;
  --plasmic-token-white: var(--token-_IpDhUa3gIj3);
  --token-oyBmxyUQBs6X: 7px;
  --plasmic-token-slider-height: var(--token-oyBmxyUQBs6X);
  --token-aswvz8ZLaVPr: #f5f5f7;
  --plasmic-token-footer-bg: var(--token-aswvz8ZLaVPr);
  --token-iie6rtCbSLIS: 10px;
  --plasmic-token-paragraph-gap: var(--token-iie6rtCbSLIS);
  --token-Ei51IsHdpGPP: #6e6e73;
  --plasmic-token-text-footer: var(--token-Ei51IsHdpGPP);
  --token-VZdOiOG-NxkM: 12px;
  --plasmic-token-text-small: var(--token-VZdOiOG-NxkM);
  --token-LNeDr1ZtROhc: var(--token-MD90Bcnu8OKt);
  --plasmic-token-hr: var(--token-LNeDr1ZtROhc);
  --token-MD90Bcnu8OKt: #d2d2d7;
  --plasmic-token-hr-2: var(--token-MD90Bcnu8OKt);
  --token-vAujezlOQTTW: #2997ff;
  --plasmic-token-dark-link: var(--token-vAujezlOQTTW);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-oyBmxyUQBs6X: 500px;
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-TKKNRwOx0ARy_font-family: "Inter", sans-serif;
  --mixin-TKKNRwOx0ARy_font-size: 16px;
  --mixin-TKKNRwOx0ARy_font-weight: 400;
  --mixin-TKKNRwOx0ARy_font-style: normal;
  --mixin-TKKNRwOx0ARy_color: #535353;
  --mixin-TKKNRwOx0ARy_text-align: left;
  --mixin-TKKNRwOx0ARy_text-transform: none;
  --mixin-TKKNRwOx0ARy_line-height: 1.5;
  --mixin-TKKNRwOx0ARy_letter-spacing: normal;
  --mixin-TKKNRwOx0ARy_white-space: pre-wrap;
  --mixin-TKKNRwOx0ARy_user-select: text;
  --mixin-TKKNRwOx0ARy_text-decoration-line: none;
  --mixin-TKKNRwOx0ARy_text-overflow: clip;
  --mixin-7POzgb9d8vco_color: #000000;
  --mixin-7POzgb9d8vco_font-weight: 500;
  --mixin-7POzgb9d8vco_font-size: 64px;
  --mixin-7POzgb9d8vco_line-height: 1;
  --mixin-7POzgb9d8vco_letter-spacing: -1px;
  --mixin-7POzgb9d8vco_white-space: pre-wrap;
  --mixin-ksWFwf9va3fQ_color: #000000;
  --mixin-ksWFwf9va3fQ_font-size: 48px;
  --mixin-ksWFwf9va3fQ_font-weight: 500;
  --mixin-ksWFwf9va3fQ_letter-spacing: -0.5px;
  --mixin-ksWFwf9va3fQ_line-height: 1.1;
  --mixin-ksWFwf9va3fQ_white-space: pre-wrap;
  --mixin-wI9lFK3g-Kr7_color: #0070f3;
  --mixin-wI9lFK3g-Kr7_white-space: pre-wrap;
  --mixin-Muy0zQaRrOj3_color: #000000;
  --mixin-Muy0zQaRrOj3_font-size: 24px;
  --mixin-Muy0zQaRrOj3_font-weight: 300;
  --mixin-Muy0zQaRrOj3_line-height: 1.2;
  --mixin-Muy0zQaRrOj3_white-space: pre-wrap;
  --mixin-wQTTw9uMpSte_color: #000000;
  --mixin-wQTTw9uMpSte_font-size: 28px;
  --mixin-wQTTw9uMpSte_font-weight: 300;
  --mixin-wQTTw9uMpSte_line-height: 1.3;
  --mixin-wQTTw9uMpSte_white-space: pre-wrap;
  --mixin-tCzLmYZbTU-V_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-tCzLmYZbTU-V_border-bottom-color: #dddddd;
  --mixin-tCzLmYZbTU-V_border-bottom-style: solid;
  --mixin-tCzLmYZbTU-V_border-bottom-width: 1px;
  --mixin-tCzLmYZbTU-V_border-left-color: #dddddd;
  --mixin-tCzLmYZbTU-V_border-left-style: solid;
  --mixin-tCzLmYZbTU-V_border-left-width: 1px;
  --mixin-tCzLmYZbTU-V_border-right-color: #dddddd;
  --mixin-tCzLmYZbTU-V_border-right-style: solid;
  --mixin-tCzLmYZbTU-V_border-right-width: 1px;
  --mixin-tCzLmYZbTU-V_border-top-color: #dddddd;
  --mixin-tCzLmYZbTU-V_border-top-style: solid;
  --mixin-tCzLmYZbTU-V_border-top-width: 1px;
  --mixin-tCzLmYZbTU-V_border-bottom-left-radius: 3px;
  --mixin-tCzLmYZbTU-V_border-bottom-right-radius: 3px;
  --mixin-tCzLmYZbTU-V_border-top-left-radius: 3px;
  --mixin-tCzLmYZbTU-V_border-top-right-radius: 3px;
  --mixin-tCzLmYZbTU-V_font-family: "Inconsolata";
  --mixin-tCzLmYZbTU-V_padding-bottom: 1px;
  --mixin-tCzLmYZbTU-V_padding-left: 4px;
  --mixin-tCzLmYZbTU-V_padding-right: 4px;
  --mixin-tCzLmYZbTU-V_padding-top: 1px;
  --mixin-tCzLmYZbTU-V_white-space: pre-wrap;
  --mixin-kM4QvVa5-6xl_border-left-color: #dddddd;
  --mixin-kM4QvVa5-6xl_border-left-style: solid;
  --mixin-kM4QvVa5-6xl_border-left-width: 3px;
  --mixin-kM4QvVa5-6xl_color: #888888;
  --mixin-kM4QvVa5-6xl_padding-left: 10px;
  --mixin-kM4QvVa5-6xl_white-space: pre-wrap;
  --mixin-Nf9r1DysAE8z_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Nf9r1DysAE8z_border-bottom-color: #dddddd;
  --mixin-Nf9r1DysAE8z_border-bottom-style: solid;
  --mixin-Nf9r1DysAE8z_border-bottom-width: 1px;
  --mixin-Nf9r1DysAE8z_border-left-color: #dddddd;
  --mixin-Nf9r1DysAE8z_border-left-style: solid;
  --mixin-Nf9r1DysAE8z_border-left-width: 1px;
  --mixin-Nf9r1DysAE8z_border-right-color: #dddddd;
  --mixin-Nf9r1DysAE8z_border-right-style: solid;
  --mixin-Nf9r1DysAE8z_border-right-width: 1px;
  --mixin-Nf9r1DysAE8z_border-top-color: #dddddd;
  --mixin-Nf9r1DysAE8z_border-top-style: solid;
  --mixin-Nf9r1DysAE8z_border-top-width: 1px;
  --mixin-Nf9r1DysAE8z_border-bottom-left-radius: 3px;
  --mixin-Nf9r1DysAE8z_border-bottom-right-radius: 3px;
  --mixin-Nf9r1DysAE8z_border-top-left-radius: 3px;
  --mixin-Nf9r1DysAE8z_border-top-right-radius: 3px;
  --mixin-Nf9r1DysAE8z_font-family: "Inconsolata";
  --mixin-Nf9r1DysAE8z_padding-bottom: 3px;
  --mixin-Nf9r1DysAE8z_padding-left: 6px;
  --mixin-Nf9r1DysAE8z_padding-right: 6px;
  --mixin-Nf9r1DysAE8z_padding-top: 3px;
  --mixin-Nf9r1DysAE8z_white-space: pre-wrap;
  --mixin-6GavkIhXoocN_display: flex;
  --mixin-6GavkIhXoocN_flex-direction: column;
  --mixin-6GavkIhXoocN_align-items: stretch;
  --mixin-6GavkIhXoocN_justify-content: flex-start;
  --mixin-6GavkIhXoocN_list-style-position: outside;
  --mixin-6GavkIhXoocN_padding-left: 40px;
  --mixin-6GavkIhXoocN_position: relative;
  --mixin-6GavkIhXoocN_list-style-type: disc;
  --mixin-6GavkIhXoocN_white-space: pre-wrap;
  --mixin-0YlUM_tAmXpz_display: flex;
  --mixin-0YlUM_tAmXpz_flex-direction: column;
  --mixin-0YlUM_tAmXpz_align-items: stretch;
  --mixin-0YlUM_tAmXpz_justify-content: flex-start;
  --mixin-0YlUM_tAmXpz_list-style-position: outside;
  --mixin-0YlUM_tAmXpz_padding-left: 40px;
  --mixin-0YlUM_tAmXpz_position: relative;
  --mixin-0YlUM_tAmXpz_list-style-type: decimal;
  --mixin-0YlUM_tAmXpz_white-space: pre-wrap;
  --mixin-U7krfRTfB4B5_color: #000000;
  --mixin-U7krfRTfB4B5_font-size: 20px;
  --mixin-U7krfRTfB4B5_font-weight: 600;
  --mixin-U7krfRTfB4B5_line-height: 1.5;
  --mixin-U7krfRTfB4B5_white-space: pre-wrap;
  --mixin-v8SQo814yYnA_color: #000000;
  --mixin-v8SQo814yYnA_font-size: 16px;
  --mixin-v8SQo814yYnA_font-weight: 600;
  --mixin-v8SQo814yYnA_line-height: 1.5;
  --mixin-v8SQo814yYnA_white-space: pre-wrap;
  --mixin-PZUgbYrHupLf_color: #3291ff;
  --mixin-PZUgbYrHupLf_white-space: pre-wrap;
  --mixin-GYjlSb85luaw_white-space: pre-wrap;
  --mixin-EJMkyONdd0N7_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-KWclPh3AHixu_white-space: pre-wrap;
  --plasmic-mixin-footer-notes-link_white-space: var(
    --mixin-KWclPh3AHixu_white-space
  );
  --mixin-xlLOhO6g7KZd_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-xlLOhO6g7KZd_white-space
  );
  --mixin-TRolN0_UAvV3_white-space: pre-wrap;
  --plasmic-mixin-footer-link_white-space: var(
    --mixin-TRolN0_UAvV3_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-TKKNRwOx0ARy_font-family);
  font-size: var(--mixin-TKKNRwOx0ARy_font-size);
  font-weight: var(--mixin-TKKNRwOx0ARy_font-weight);
  font-style: var(--mixin-TKKNRwOx0ARy_font-style);
  color: var(--mixin-TKKNRwOx0ARy_color);
  text-align: var(--mixin-TKKNRwOx0ARy_text-align);
  text-transform: var(--mixin-TKKNRwOx0ARy_text-transform);
  line-height: var(--mixin-TKKNRwOx0ARy_line-height);
  letter-spacing: var(--mixin-TKKNRwOx0ARy_letter-spacing);
  white-space: var(--mixin-TKKNRwOx0ARy_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-7POzgb9d8vco_color);
  font-weight: var(--mixin-7POzgb9d8vco_font-weight);
  font-size: var(--mixin-7POzgb9d8vco_font-size);
  line-height: var(--mixin-7POzgb9d8vco_line-height);
  letter-spacing: var(--mixin-7POzgb9d8vco_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ksWFwf9va3fQ_color);
  font-size: var(--mixin-ksWFwf9va3fQ_font-size);
  font-weight: var(--mixin-ksWFwf9va3fQ_font-weight);
  letter-spacing: var(--mixin-ksWFwf9va3fQ_letter-spacing);
  line-height: var(--mixin-ksWFwf9va3fQ_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-wI9lFK3g-Kr7_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Muy0zQaRrOj3_color);
  font-size: var(--mixin-Muy0zQaRrOj3_font-size);
  font-weight: var(--mixin-Muy0zQaRrOj3_font-weight);
  line-height: var(--mixin-Muy0zQaRrOj3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-wQTTw9uMpSte_color);
  font-size: var(--mixin-wQTTw9uMpSte_font-size);
  font-weight: var(--mixin-wQTTw9uMpSte_font-weight);
  line-height: var(--mixin-wQTTw9uMpSte_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-tCzLmYZbTU-V_font-family);
  border-radius: var(--mixin-tCzLmYZbTU-V_border-top-left-radius)
    var(--mixin-tCzLmYZbTU-V_border-top-right-radius)
    var(--mixin-tCzLmYZbTU-V_border-bottom-right-radius)
    var(--mixin-tCzLmYZbTU-V_border-bottom-left-radius);
  padding: var(--mixin-tCzLmYZbTU-V_padding-top)
    var(--mixin-tCzLmYZbTU-V_padding-right)
    var(--mixin-tCzLmYZbTU-V_padding-bottom)
    var(--mixin-tCzLmYZbTU-V_padding-left);
  border-top: var(--mixin-tCzLmYZbTU-V_border-top-width)
    var(--mixin-tCzLmYZbTU-V_border-top-style)
    var(--mixin-tCzLmYZbTU-V_border-top-color);
  border-right: var(--mixin-tCzLmYZbTU-V_border-right-width)
    var(--mixin-tCzLmYZbTU-V_border-right-style)
    var(--mixin-tCzLmYZbTU-V_border-right-color);
  border-bottom: var(--mixin-tCzLmYZbTU-V_border-bottom-width)
    var(--mixin-tCzLmYZbTU-V_border-bottom-style)
    var(--mixin-tCzLmYZbTU-V_border-bottom-color);
  border-left: var(--mixin-tCzLmYZbTU-V_border-left-width)
    var(--mixin-tCzLmYZbTU-V_border-left-style)
    var(--mixin-tCzLmYZbTU-V_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-kM4QvVa5-6xl_color);
  padding-left: var(--mixin-kM4QvVa5-6xl_padding-left);
  border-left: var(--mixin-kM4QvVa5-6xl_border-left-width)
    var(--mixin-kM4QvVa5-6xl_border-left-style)
    var(--mixin-kM4QvVa5-6xl_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Nf9r1DysAE8z_font-family);
  border-radius: var(--mixin-Nf9r1DysAE8z_border-top-left-radius)
    var(--mixin-Nf9r1DysAE8z_border-top-right-radius)
    var(--mixin-Nf9r1DysAE8z_border-bottom-right-radius)
    var(--mixin-Nf9r1DysAE8z_border-bottom-left-radius);
  padding: var(--mixin-Nf9r1DysAE8z_padding-top)
    var(--mixin-Nf9r1DysAE8z_padding-right)
    var(--mixin-Nf9r1DysAE8z_padding-bottom)
    var(--mixin-Nf9r1DysAE8z_padding-left);
  border-top: var(--mixin-Nf9r1DysAE8z_border-top-width)
    var(--mixin-Nf9r1DysAE8z_border-top-style)
    var(--mixin-Nf9r1DysAE8z_border-top-color);
  border-right: var(--mixin-Nf9r1DysAE8z_border-right-width)
    var(--mixin-Nf9r1DysAE8z_border-right-style)
    var(--mixin-Nf9r1DysAE8z_border-right-color);
  border-bottom: var(--mixin-Nf9r1DysAE8z_border-bottom-width)
    var(--mixin-Nf9r1DysAE8z_border-bottom-style)
    var(--mixin-Nf9r1DysAE8z_border-bottom-color);
  border-left: var(--mixin-Nf9r1DysAE8z_border-left-width)
    var(--mixin-Nf9r1DysAE8z_border-left-style)
    var(--mixin-Nf9r1DysAE8z_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6GavkIhXoocN_display);
  flex-direction: var(--mixin-6GavkIhXoocN_flex-direction);
  align-items: var(--mixin-6GavkIhXoocN_align-items);
  justify-content: var(--mixin-6GavkIhXoocN_justify-content);
  list-style-position: var(--mixin-6GavkIhXoocN_list-style-position);
  padding-left: var(--mixin-6GavkIhXoocN_padding-left);
  position: var(--mixin-6GavkIhXoocN_position);
  list-style-type: var(--mixin-6GavkIhXoocN_list-style-type);
  column-gap: var(--mixin-6GavkIhXoocN_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-0YlUM_tAmXpz_display);
  flex-direction: var(--mixin-0YlUM_tAmXpz_flex-direction);
  align-items: var(--mixin-0YlUM_tAmXpz_align-items);
  justify-content: var(--mixin-0YlUM_tAmXpz_justify-content);
  list-style-position: var(--mixin-0YlUM_tAmXpz_list-style-position);
  padding-left: var(--mixin-0YlUM_tAmXpz_padding-left);
  position: var(--mixin-0YlUM_tAmXpz_position);
  list-style-type: var(--mixin-0YlUM_tAmXpz_list-style-type);
  column-gap: var(--mixin-0YlUM_tAmXpz_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-U7krfRTfB4B5_color);
  font-size: var(--mixin-U7krfRTfB4B5_font-size);
  font-weight: var(--mixin-U7krfRTfB4B5_font-weight);
  line-height: var(--mixin-U7krfRTfB4B5_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-v8SQo814yYnA_color);
  font-size: var(--mixin-v8SQo814yYnA_font-size);
  font-weight: var(--mixin-v8SQo814yYnA_font-weight);
  line-height: var(--mixin-v8SQo814yYnA_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-PZUgbYrHupLf_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
